<html ng-app="myColorBook">
  <head>
    <title>My Color Book</title>
    <link href="style.css" rel="stylesheet">
  <head>
  <body ng-controller="mainCtrl">
    <canvas id="myCanvas">

    </canvas>
    <div>
      <button ng-click="colorChange('red')">red</button>
      <button ng-click="colorChange('#32cd32')">green</button>
      <button ng-click="colorChange('brown')">yellow</button>


      <button ng-click="colorChange('white')">erase</button>

      <button ng-click="radiusChange(2)">five</button>

    </div>
    <script src="angular.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="main.js"></script>
  </body>
</html>
